body{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.wrappers{
    width: 100%;

    background-color: #FAFAFA;
}

.sections{
    width: 1132px;
    margin: 0 auto;

    font-family: 'Montserrat', sans-serif;
    color: #252B42;
}

/* --------------------------- */

.Titles{
    margin: 0;
    margin-bottom: .8vw;
    padding-top: 5vw;

    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.Descriptions{
    text-align: center;
    font-size: .9rem;
    color: gray;
}

/* ---------------header--------------- */
.header_wrapper{
    padding-top: 5vh;
    position: relative;
    z-index: 2;

    background: url(images/header_back.png)
    no-repeat;   
    background-size: cover;
    background-position: top right;
}




.header_navig{
    display: flex;
    flex-wrap: wrap;
}

.header_navig a{
    display: block;

    text-decoration: none;
}
.header_navig a:hover{
    color: black;

    transition: all .2s linear;
}

.relvise{
    margin-right: 15%;

    font-size: 1.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.home, .product, .pricing, .contact{
    margin-right: 2%;

    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header_navig a:last-child{
    margin-right: 0;
}





.header_text{
    width: 100%;
    margin-top: 12%;

    display: block;
}
.header_text{
    text-align: left;
}

.header_title {
    font-size: 3.5rem;
    color: #252B42;
    font-weight: 900;
    text-shadow: 2px 2px 2px gray;
}

.header_description{
    font-size: 1.25rem;
    color: gray;
}

.header_btns{
    width: 100%;
    padding-bottom: 191px;
    
    display: flex;
}
.header_btns a{
    padding: 1% 3.5%;

    border-radius: 10%/40%;

    font-weight: bold;
    text-decoration: none;
}
.header_btns a:hover{
    cursor: pointer;
    filter: contrast(200%);

    transition: all .2s linear;
}

.header_btn1{
    margin-right: 2vh;

    background-color: #FF7B47;

    color: white;
}

.header_btn2 {
    border: 2px solid #0D5C63;

    color: #0D5C63;
}

/* --------------blocks---------------- */

.blocks{
    margin-top: -111px;
    position: relative;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blocks_block{
    width: 30%;
    padding: 3%;
    box-sizing: border-box;
}

.blocks_block1, .blocks_block2{
    background-color: white;
}

.blocks_block3{
    background-color: #0D5C63;

    color: white;
}

.blocks h3{
    margin: 0;

    font-size: 1.4em;
}

/* --------------block1----------------- */

.block1{
    margin-top: 5vw;
}

.block1_items{
    width: 100%;
    margin-top: 5vw;

    display: flex;
    justify-content: space-between;    
}

.block1_items *{
    margin: 0 auto;
    margin-bottom: 1vw;

    display: block;

    text-align: center;
}

.block1_item{
    width: 22%;
    padding-top: 1.5vw;
    margin: 0;

    background-color: white;
}

.block1 p{
    font-size: 2em;
    font-weight: bold;
}

/* -------------block2-------------- */

.block3_wrapper{
    background-color: white;
}

.block2_description{
    margin-bottom: 5%;
}

.block2_items{
    display: flex;
    justify-content: space-between;
}

.block2_item{
    width: 22%;

    display: flex;
    flex-direction: column;

    background-color: white;
}

.block2_item h3, .block2_item p{
    width: 80%;
    margin: 1.5vw auto;
}
.block2_item h3{
    margin-bottom: -.2vw;

    font-size: 1rem;
    font-weight: bolder;
}
.block2_item p{
    flex: 1 0 auto;

    color: gray;
    font-size: .8rem;
}

/* --------------block3-------------- */

.block3_wrapper{
    background-color: #FFFFFF;
}


.block3{
    padding-bottom: 7%;
}

.block3_description{
    margin-bottom: 6%;
}

.block3_content{
    display: flex;

    align-items: flex-end;
}

.block3_video{
    width: 55%;
}

.block3_mainText{
    width: 45%;
    padding-left: 10%;

    align-self: flex-end;
}
.block3_mainText *{
    text-align: left;
}

.block3_smallTitle1, .block3_smallTitle2{
    padding-left: 10%;

    line-height: 2vw;
}
.block3_smallTitle1{
    background: url(icons/block3_icon1.svg) no-repeat;
}
.block3_smallTitle2{
    background: url(icons/block3_icon2.svg) no-repeat;
}

/* ------------block4--------------- */

.block4_wrapper{
    position: relative;
}
.block4_wrapper::before{
    width: 100%;
    height: 7vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: translate(0, 30%);

    content: '';
    background-color: #252B42;
}



.block4_icons{
    padding: 3% 0;

    display: flex;
    justify-content: space-between;
}
.block4_icons *{
    width: 8%;
}



.block4_blueBlock{
    height: 10vw;
    padding: 3% 5%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(25, 25, 66);
    border: 2px solid black;
}
.block4_blueBlock *{
    color: white;
}

.block4_title{
    font-size: 1.5em;
    font-size: 700;
    line-height: 32px;
}

.block4_sentEmail{
    width: 50%;
    height: 80%;
    overflow: hidden;

    display: flex;

    border-radius: 3%/20%;
}

.block4_email{
    width: 80%;
    height: 100%;
    padding: 0 3%;
    box-sizing: border-box;

    color: black;
    font-size: 1em;
}

.block4_btn{
    width: 20%;
    height: 100%;
    overflow: hidden;
    position: relative;

    background-color: #FF7B47;
}
.block4_btn:hover{
    opacity: .8;
    cursor: pointer;
    background-color: #ff4800;

    transition: all .2s linear;
}
.block4_btn:active{
    opacity: 1;
    background-color: rgb(112, 112, 255);

    transition: all .05s linear;
}

.block4_btn p{
    margin: 0;
    position: absolute;
    top: 50%;   
    left: 50%;   
    transform: translate(-50%, -50%);

    font-size: 1rem;
}

/* -------------block5----------------- */

.block5_wrapper{
    background-color: #F3F3F3;
}



.block5_items{
    width: 100%;
    margin-top: 8%;
    padding-bottom: 15%;

    display: flex;
    align-items: baseline;
}
.block5_items *{
    width: 33.333%;
}


.block5_item{
    padding: 5% 0;

    display: flex;
    flex-direction: column;

    background-color: white;
}


.block5 img{
    width: 20%;
    margin: 0 auto;
}

.block5_emails{
    width: 100%;
    margin: 5% 0;
    margin-bottom: 0;

    text-align: center;
    font-size: 0.875em;
    font-weight: 600;
}

.block5_supports{
    width: 100%;
    margin: 5% 0;

    text-align: center;
    font-size: 1em;
    font-weight: 700;
}

.block5_btns{
    width: fit-content;
    margin: 0 auto;
    padding: 3%;

    border: 2px solid #FF7B47;
    border-radius: 7%/20%;

    color: #FF7B47;
}
.block5_btns:hover{
    cursor: pointer;
    filter: opacity(.5);

    transition: all .2s linear;
}



.block5_item2{
    padding: 8% 0;

    background-color: #252B42;

    color: white;
}
.block5_item2 .block5_btns{
    border-color: white;

    color: white;
}

/* -------------block6---------------- */

.block6{
    padding-bottom: 2%;

    display: flex;
    justify-content: space-between;

    background-color: #FAFAFA;;
}


.block6_title{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

.block6_description{
    text-align: left;
}


.block6_btn{
    width: fit-content;
    height: fit-content;
    margin: auto 0;
    padding: 1.5% 3%;

    background-color: #FF7B47;
    border-radius: 5%/10%;
}
.block6_btn:hover{
    cursor: pointer;
    background-color: #ffa17c;

    transition: all .2s linear;
}
.block6_btn p{
    margin: 0;

    color: white;
}


